/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* @font-face {
    font-family: pop;
    src: url(./fonts/Poppins-Regular.ttf);
} */
/* body{
    width: 100%;
    height: 100%;
    background-color: #444;
    display: column;
} */
.aboutpage{
    background: linear-gradient(rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.123)), url(../images/about/4.jpg) no-repeat;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}
.about_section{
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: space-between;
    padding: 50px 13%;
    display: flex;
    flex-wrap: wrap;


}
.about_img img{
    width: 500px;
    margin-top: -50px;
    margin-left: -100px;
    padding: 20px;
} 

.about_details h1{
    margin-top: 5rem;
    color: #fff;
    position: relative;
    text-shadow: 2px 2px black;
}
.about_details h1::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #f39c12;
    border-radius: 5px;
    left: 0;
    bottom: 2px;
}
.about_details h2{
    font-size: 2rem;
    color: #fff;
    position: relative;
    letter-spacing: 1px;
}
.about_details h3{
    color:  #fff;
    position: relative;
    font-size: 3rem;
    font-family: 'Papyrus', "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.about_details p{
    font-size: 15px;
    color: rgb(50, 49, 49);
    max-width: 480px;
    margin: 30px 0 15px 0;
    line-height: 29px;
    letter-spacing: 2px;
}
.btns{
    margin-top: 20px;
}
.btn{
    padding: 10px 25px;
    border: 2px solid #f39c12;
    border-radius: 5px;
    color: #f39c12;
    text-decoration: none;
    margin: 30px 0;
    transition: all .5s ease;
    font-weight: 600;
}
.btn:hover{
    background-color: #f39c12;
    color: #333;
}
.btn1{
    margin-right: 15px;
    background-color: #f39c12;
    color: #000;
}
.btn1:hover{
    background-color: transparent;
    color: #f39c12;
}


/* Box-Container */
.card{
    box-shadow: 0 30px 30px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    margin-left: 90px;
    margin-bottom: 50px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    border-radius: 5px 5px 0 0;
    width: 60px;
    height: 60px;
    align-items: center;
    margin: 20px 10px;
}
  

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container{
    padding: 2px 16px;
}
.card h2{
    color: black;
    position: relative;
    text-decoration: underline;   
	text-decoration-color: lightblue;
    color: #333;
}



.card p{
    font-size: 1.5rem;
    padding: 5px;
    margin: 10px;
    text-align: center;

}

.cards{
    display: flex;
    flex-direction: row;
}

.container{
    padding: 2px 16px;
}

button{
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: white;
    background-color: lightgray;
    color: black;
    height: 35px;
    font-size: 0.8em;
    font-weight: bold;
}
.box_section{
    display: flex;
    flex-wrap: wrap;

}